* {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*decorite homepage*/
.homepage {
    background-image: url('../images/background\ -\ Copy.png');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.logo {
    position:relative;
    margin:20px 20px;
    display:inline-block;
    background-image:url(../images/logo.png);
    background-size: cover;
    background-position:center;
    height:6vw;
    width:6vw;
    background-repeat: no-repeat;
    border-radius:10%;
    opacity: 1;
    transition: all 0.8s;
}

.download {
    right: 20px;
}

.contactus {
    right: 163px;
}

.aboutus {
    right: 313px;
}

.play {
    right: 450px;
}

.gametitle {
    font-size: 50px;
    font-family: Calibri;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 190px;
    margin-left: 60px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.play, .aboutus, .contactus, .download {
    font-size: 28px;
    font-family: Calibri;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
    height: fit-content;
    transition: all 0.8s;
}

.play, .aboutus, .contactus, .download {
    position: absolute;
}

.logo:hover, .play:hover, .aboutus:hover, .contactus:hover, .download:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.75;
    color: #000000;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 28px;
    font-family: Calibri;
    font-weight: bold;
    display: inline-block;
    margin-bottom: auto;
    height: fit-content;
    transition: all 0.8s;
}

a:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.75;
    color: #000000;
    cursor: pointer;
}

/* decorate text*/
.text {
    background-color: #8F1D1B;
    color: #FFFFFF;
    height: fit-content;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

#hr {
    margin-left: 519px;
}

.background {
    background-color: #8F1D1B;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(590px, 2fr));
}

.homepage1 {
    position: relative;
    overflow: hidden;
}

img {
    display:inline-block;
    position: relative;
    margin: 50px 50px 50px 120px;
    height: 290px;
}

.name {
    position: absolute;
    inset: 0;
    font-size: 32px;
    padding: 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 325px;
    margin-top: 155px;
}

img, .name {
    transition: 200ms ease-in-out;
}

.homepage1 > .name {
    opacity: 0;
}

.homepage1:hover > .name {
    opacity: 1;
}

.homepage1:hover > .blur {
    filter: blur(5px );
}

.image {
    background-image: url(../images/mainpage.png);
    height: 640px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 

}

.footer
{
    color: #FFFFFF;
    position:absolute;
    bottom:-260%;
    margin-top: 250px;
    height:20vh;
    background-color: #8F1D1B;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

#footer {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
}

