* {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/*decorate homepage*/
.homepage {
    background-image: url('../images/background\ -\ Copy2.png');
    min-width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;    
}

/*hyperlink style*/
.play, .aboutus, .contactus, .download {
    font-size: 28px;
    font-family: Calibri;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: auto;
    height: fit-content;
    transition: all 0.8s;
}

.play, .aboutus, .contactus, .download {
    position: absolute;
}

.logo:hover, .play:hover, .aboutus:hover, .contactus:hover, .download:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.75;
    color: #000000;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 28px;
    font-family: Calibri;
    font-weight: bold;
    display: inline-block;
    margin-bottom: auto;
    height: fit-content;
    transition: all 0.8s;
}

a:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.75;
    color: #000000;
    cursor: pointer;
}

.logo {
        position:relative;
        margin:20px 20px;
        display:inline-block;
        height: fit-content;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        opacity: 1;
        transition: all 0.8s;
}

#logo {
    border-radius:10%;
    padding: 5px;
}

.download {
    right: 20px;
}

.contactus {
    right: 158px;
}

.aboutus {
    right: 313px;
}

.play {
    right: 450px;
}

p {
    background-color: #83A0C8;
}

/*p::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #83A0C8, transparent);
    z-index: 10;
}